./finetune/pyproject.toml
finetune/my_fl_model/*
finetune/outputs/*
finetune/slurm_out/*
finetune/logs/*
finetune/__pycache__/utils.cpython-311.pyc
finetune/__pycache__/data_formatting.cpython-311.pyc
finetune/__pycache__/client.cpython-311.pyc
*.log
*/wandb/*
finetune/my_fl_model_medical_centralized/*
slurm_out/*
